apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-rm1o
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/happy-path-service-tenant/appstudio/dc-metro-map-rm1o@sha256:3db2ccd2c7d4124d05d098748272b0ec702cad56845673e092a01c9b8821deb7
        name: my-nodejs
        resources: {}
status: {}
